*{
  margin: 0px;   /* isso aqui foi pra tirar margem e os espaços */
  padding: 0px;
}

div.quadrado{ /*logos dos sites*/
    border: 1px solid rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    display: inline-block; /*pra deixar um do lado do outro*/ 
    border-radius: 10px;
    background-repeat: no-repeat;
    flex-direction: wrap;
    
}
main{
  background-color: white;
  max-width: auto;
  padding: 0px;
  margin: auto;
  border: rgba(0, 0, 0, 0.089) solid;
  
  
}
div.quadrado2{/*imagens do site*/
    border: 1px solid rgba(0, 0, 0, 0.171);
    width: 163px;
    height: 250px;
    display: inline-block;
    background-repeat: no-repeat;
    transition: 0.5s;  
    margin-left: 0px;
    margin-right: 5px;
    flex-direction: wrap; /*quando quebrar a linha e não ficar bagunçado as divs*/
    border-radius: 9px;
}
.quadrado2:hover{
    transform: scale(1.1);
    background-color: rgba(0, 255, 255, 0.082);
}
section{
    background-color: #006aff;
    height: auto;
    flex-direction: wrap;
    padding: 50px;
    
}

div#f1{
    background-image: url('capa/shang.jpg');
    
}
div#f2{
    background-image: url('capa/O_Jogo_da_Imitação.jpg');
     

}
div#f3{
    background-image: url('capa/jujustu.jpg');
    
}
div#f4{
    background-image: url('capa/efeito.jpg');
   
}
div#f5{
    background-image: url('capa/duna.jpg');
    
}
div#f6{
    background-image: url('capa/pecanha.jpg');
    
    
}
div#f7{
    background-image: url('capa/you.jpg');
     
}
div#f8{
    background-image: url('capa/round6.jpg');
   
}
div#f9{
    background-image: url('capa/attack.jpg');
}

div#f10{
    background-image: url('capa/theoffice.jpg');
}

div#f11{
    background-image: url('capa/tedlasso.jpg');
}
div#f12{
    background-image: url('capa/otempocomvoce.jpg');
}
div#f13{
    background-image: url('capa/oddtaxi.jpg');
}
div#f14{
    background-image: url('capa/lovecraft.jpg');
}

div#q1{
    background-image: url('logos/417bVUqe0pL.png');
    margin-left: 60px;
}

div#q2{
    background-image: url('logos/unnamed\ \(1\).png');
}
div#q3{
    background-image: url('logos/unnamed.png');
}

div#q4{
    background-image: url('logos/6c506a9e69065a3c4f57c99d264e801b.jpg');
}
body{
    background-color: #060d17;
}



  
 
  
 
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #060d17;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #060d17;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  
